shopping-cart {
  flex: 1;
  background: $sidebar-bg-color;
  height: 100%;
  color: $text-color-secondary;
  padding: 0 20px;  
  .basket {
    display: flex;
    justify-content: space-between;
    span {
      flex-grow: 1;
      flex-basis: 0;
    }
    &--item-name {
      font-style: italic;
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .checkout {
    .btn {
      width: 100%;
      margin: 2px 0;
    }
  }
}