body {
  margin: 0;
  background: $body-bg-color;
  font-family: "Roboto", sans-serif;
  .container {
    display: flex;  
    
    h3 {
      font-weight: 300;
    }
    p {
      font-weight: 400;
    }
  }
}