.btn {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  &--primary {
    background: $btn-color-primary;
    color: $text-color-primary;
  }

  &--secondary {
    background: $btn-color-secondary;
    color: $text-color-primary;
  }

  &--circular {
    border-radius: 30px;
  }
}