$body-bg-color: #ffffff;
$sidebar-bg-color: #00C19F;
$table-bg-color: rgba(23, 247, 206, 0.096);

$text-color-primary: #ffffff;
$text-color-secondary: #333333;
$text-color-ternary: #c24747;

$btn-color-primary: #00C19F;
$btn-color-secondary: #c24747;
