$body-bg-color: #333550;
$sidebar-bg-color: #2c2e47;

$text-color-primary: #ffffff;
$text-color-secondary: #c1c1c1;
$text-color-ternary: #333333;

$btn-color-primary: #03b952;
$btn-color-secondary: #f0da17;
