<div class="item">
  <div class="heading">
    <div class="box">
      <img class="img" ng-src="{{ $ctrl.itemDetails.url }}">
    </div>
    <div class="box">
      <p>{{ $ctrl.itemDetails.name }}</p>
    </div>
    <div class="box">
      <p>{{ $ctrl.itemDetails.details }}</p>
    </div>
    <div class="box" ng-class="{ 'special-offer': $ctrl.showDiscountMsg ===true }">
      <div ng-if="$ctrl.showDiscountMsg" class="special-offer--title">
        <span>Special Offer</span>
      </div>
      <p class="price">{{ $ctrl.itemDetails.price }}</p>
      <div ng-if="$ctrl.showDiscountMsg">
        <p class="special-offer--new-price">{{ $ctrl.itemDetails.$newPrice }}</p>
        <p>You save {{ $ctrl.itemDetails.price - $ctrl.itemDetails.$newPrice }}</p>
      </div>
    </div>     
    <div class="box">
      <span ng-transclude></span>
    </div>
  </div>
</div>