<div class="item">
  <div class="heading">
    <div class="box">
      <p>{{ $ctrl.itemDetails.name }}</p>
    </div>
    <div class="box">
      <p>{{ $ctrl.itemDetails.details }}</p>
    </div>
    <div class="box">
      <p>{{ $ctrl.itemDetails.price }}</p>
    </div>
    <div class="box">
      <p>{{ $ctrl.itemDetails.$quantity || 0 }}</p>
      <button ng-click="$ctrl.addToBasket($ctrl.itemDetails)">+</button>
    </div>
    <div class="box" ng-if="$ctrl.showDiscountMsg">
      Discont {{ $ctrl.discount | percentage }} {{ $ctrl.itemDetails.$discountPrice }}
    </div>
  </div>
</div>