<div class="container">
  <div class="products">
    <!-- Heading -->
    <div class="heading">
      <div class="box">        
        <!-- No Heading For Item Image -->
      </div>
      <div class="box">
        <h3>Name</h3>
      </div>
      <div class="box">
        <h3>Details</h3>
      </div>
      <div class="box">
        <h3>Price</h3>
      </div>
      <div class="box">
        <h3>Quantity</h3>
      </div>
    </div>

    <!-- Content -->
    <div class="content">
      <div ng-repeat="item in $ctrl.items" class="product-table spacer10">
        <item item-details="item">
          <button ng-click="$ctrl.removeFromBasket(item)" class="btn btn--secondary"> - </button>
          <span class="spacerR10 spacerL10">{{ item.$quantity || 0 }}</span>
          <button ng-click="$ctrl.addToBasket(item)" class="btn btn--primary"> + </button>
        </item>
      </div>
    </div>
  </div>
  
  <!-- Shopping Cart -->
  <shopping-cart shopping-bag="$ctrl.shoppingBag"></shopping-cart>

</div>