<div class="container">
  <div class="products">
    <!-- Heading -->
    <div class="heading">
      <div class="box">
        <h3>Name</h3>
      </div>
      <div class="box">
        <h3>Details</h3>
      </div>
      <div class="box">
        <h3>Price</h3>
      </div>
      <div class="box">
        <h3>Quantity</h3>
      </div>
      <div class="box">
       <!-- No Heading For Add Button Column -->
      </div>
    </div>

    <!-- Content -->
    <div class="content">
      <div ng-repeat="item in $ctrl.items" class="product-table">
        <item item-details="item" add-to-basket="$ctrl.addToBasket(item)"></item>
      </div>
    </div>
  </div>
  
  <!-- Shopping Cart -->
  <shopping-cart shopping-bag="$ctrl.shoppingBag"></shopping-cart>
</div>