.products {
  flex: 2;
  margin: 0 3em;
  color: $text-color-secondary;
  .flex-content {
    display: flex;
    justify-content: center;
    .box {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
  &--table {
    &:nth-child(odd) {
      padding: 10px 0;
      background: $table-bg-color;
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .flex-content {
    flex-direction: column;
    &.hide {
      display: none;
    }
  }
  .products {
    margin: 0;
    &--table {
      margin: 0 !important;
    }
  }
}
