.products {
  flex: 2;
  margin: 0 3em;
  color: $text-color-secondary;
  .heading {
    display: flex;
    justify-content: center;
    .box {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
  .product-table {
    &:nth-child(odd) {
      padding: 10px 0;
      background: $table-bg-color;
    }
  }
}

