.products {
  flex: 2;
  margin: 0 3em;
  color: $text-color-secondary;
  .heading {
    display: flex;
    justify-content: center;
    .box {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
}

